@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, *::after, *::before {
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

    .App{
        @apply min-h-screen;
        @apply w-screen;
    }

    h1, h2, h3, h4, h5, h6{
        color: theme(colors.heading.900);
    }
    p, a{
        color: theme(colors.text.900);
    }

    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    a {
        @apply no-underline;
    }
    
    header{
        @apply flex;
        @apply items-center;
        @apply px-3;
        @apply rounded;
        @apply shadow;
        @apply shadow-text-500;
        @apply h-16;
    }
    header > div{
        @apply flex;
        @apply items-center;
    }
    header > div > a{
        @apply px-4;
        @apply py-2;
    }
    header > div > a:hover{
        @apply border-b-2;
        @apply border-primary-700;
    }
    header > div > img{
        @apply max-h-14;
    }
    input{
        @apply rounded;
        @apply px-4;
        @apply py-2;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}

@layer components {
    /*.card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }*/
    
    /* .button, .button::after, .button::before{
        color: #61CE70;
        border-radius: 9999px;
        height: 100%;
        aspect-ratio: 1 / 1;
        overflow-y: hidden;
        overflow-x: hidden;
        transition: all .5s;
        color: theme('colors.text.900');
        background-color: theme('colors.text.500');
    }
    
    .icon{
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    .text{
        width: 100%;
        height: 100%;
    }
    
    .icon, .text {
        padding: 0.5rem;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        transition: all .5s;
    }

    .button:hover{
        height: 50%;
        aspect-ratio: 3 / 1;
        cursor: pointer;
    }

    .button:hover div{
        /* transform: translateY(-100%); */
    /* }

    .button:hover .icon, .button:hover .icon_image{
        aspect-ratio: auto;
        height: 0;
        width: 100%;
    } */

    .card{
        background-color: theme('colors.card');
        @apply rounded;
        @apply shadow;
        @apply shadow-text-500;
    }

    .chosen{
        @apply border-b-2;
        @apply border-text-300;
    }

    .toggle{
        @apply flex;
        @apply items-center;
        width: 5rem;
        height: 3rem;
        border-radius: 2rem;
        @apply bg-primary-300;
    }
    @media (max-width: 56.25em) {
        .toggle {
          margin-top: 1rem;
          width: 7rem;
          height: 4rem;
        }
    }
    @media (max-width: 37.5em) {
        .toggle {
          width: 7rem;
          height: 3rem;
        }
    }

    .toggle::before {
        @apply justify-start;
    }

    .toggle:hover {
        @apply cursor-pointer;
    }

    .toggle__ball{
        @apply rounded-full;
        @apply bg-primary-900;
        width: 2.5rem;
        height: 2.5rem;
        transition: all .5s;
        position: absolute;
    }

    @media (max-width: 56.25em) {
        .toggle__ball {
          width: 3.5rem;
          height: 3.5rem;
        }
    }

    @media (max-width: 37.5em) {
        .toggle__ball {
          width: 3rem;
          height: 3rem;
        }
    }

    .toggle > input[type=checkbox] {
        display: none;
    }

    .toggle > input[type=checkbox]:checked + .toggle__ball {
        margin-left: 2.5rem;
    }

    @media (max-width: 56.25em) {
        .toggle > input[type=checkbox]:checked + .toggle__ball {
            margin-left: 3.5rem;
        }
    }
    @media (max-width: 37.5em) {
        .toggle > input[type=checkbox]:checked + .toggle__ball {
            margin-left: 4rem;
        }
    }
}